In [1]:
import pandas as pd
import numpy as np

In [ ]:
filen = "Phones_accelerometer.csv"
df1 = pd.read_csv(filen)
df1.head()

In [37]:
filen1 = "Phones_gyroscope.csv"
df2 = pd.read_csv(filen1)
df2.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633909,1424696631914042029,0.013748,-0.000626,-0.023376,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631919046912,0.014816,-0.001694,-0.022308,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631924051794,0.015884,-0.001694,-0.021240,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631929117712,0.016953,-0.003830,-0.020172,a,nexus4,nexus4_1,stand
4,4,1424696633928,1424696631934214148,0.015884,-0.007034,-0.020172,a,nexus4,nexus4_1,stand

In [38]:
df1.append(df2)
df1.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633908,1424696631913248572,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631918283972,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631923288855,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631928385290,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1424696631933420691,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand

In [39]:
df1.count()

Index            13062475
Arrival_Time     13062475
Creation_Time    13062475
x                13062475
y                13062475
z                13062475
User             13062475
Model            13062475
Device           13062475
gt               11279275
dtype: int64

In [40]:
df1['gt'].unique()

array(['stand', nan, 'sit', 'walk', 'stairsup', 'stairsdown', 'bike'],
      dtype=object)

In [41]:
to_stay = ['stand','sit', 'walk', 'stairsup', 'stairsdown', 'bike']
df = df1[df1['gt'].isin(to_stay)]
df.dropna()
df.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633908,1424696631913248572,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631918283972,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631923288855,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631928385290,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1424696631933420691,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand

In [42]:
df.count()

Index            11279275
Arrival_Time     11279275
Creation_Time    11279275
x                11279275
y                11279275
z                11279275
User             11279275
Model            11279275
Device           11279275
gt               11279275
dtype: int64

In [43]:
df['gt'].unique()

array(['stand', 'sit', 'walk', 'stairsup', 'stairsdown', 'bike'],
      dtype=object)

In [44]:
y = df["gt"]
y

0           stand
1           stand
2           stand
3           stand
4           stand
5           stand
6           stand
7           stand
8           stand
9           stand
10          stand
11          stand
12          stand
13          stand
14          stand
15          stand
16          stand
17          stand
18          stand
19          stand
20          stand
21          stand
22          stand
23          stand
24          stand
25          stand
26          stand
27          stand
28          stand
29          stand
            ...
13062445     bike
13062446     bike
13062447     bike
13062448     bike
13062449     bike
13062450     bike
13062451     bike
13062452     bike
13062453     bike
13062454     bike
13062455     bike
13062456     bike
13062457     bike
13062458     bike
13062459     bike
13062460     bike
13062461     bike
13062462     bike
13062463     bike
13062464     bike
13062465     bike
13062466     bike
13062467     bike
13062468     bike
13062469     bike
13062470     bike
13062471     bike
13062472     bike
13062473     bike
13062474     bike
Name: gt, Length: 11279275, dtype: object

In [45]:
X = df.iloc[:,3:6]
X.head()

          x         y         z
0 -5.958191  0.688065  8.135345
1 -5.952240  0.670212  8.136536
2 -5.995087  0.653549  8.204376
3 -5.942718  0.676163  8.128204
4 -5.991516  0.641647  8.135345

In [46]:
print(X.shape, y.shape)

(11279275, 3) (11279275,)

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [49]:
X_test_scaled

array([[-0.03308867, -0.56041452, -1.60678074],
       [-1.35550418,  0.46332083,  1.44236496],
       [-0.21153514, -1.96296219,  1.03211886],
       ...,
       [-0.33512144, -0.32268152,  0.15335553],
       [ 0.41841085,  0.03016979,  0.7963384 ],
       [ 0.22448979, -0.84205119,  0.34217895]])

In [50]:
X_test

                  x         y          z
2074959   -1.725723 -0.713531   5.246567
5725707   -6.947235  0.870163  12.201019
1855021   -2.430313 -2.883240  11.265335
11949352   5.292801  0.265991   8.349380
7886160   -2.705246  1.418091   9.863297
7209530   -1.510468  0.400040  10.121765
2985331   -0.544037 -1.566147  10.157471
12349936  -1.742979 -2.298433   9.519346
6188148   -1.543625  0.967010  10.602402
12052008  -0.192764 -2.350037   9.770462
1405763   -0.948700 -0.104599  10.188416
6142664   -2.761185 -0.853973   8.674301
11406251   1.685497  0.000000   9.959755
1122620    5.380968  0.397437   8.133103
2261698   -0.057461 -0.593762   9.835381
11345313 -10.879117 -4.290356  10.572663
12423843  -0.507571  0.000000  10.170568
12950685   5.056491  0.612908   8.733939
11053685  -7.872135 -0.229843  10.017340
9329725   -2.011129  1.944092   9.385271
5230215   -3.675100  0.390255   8.670602
7603440   -1.568619 -0.452881   9.585983
668100    -6.426037  0.114922   7.249643
7293720    7.733704 -0.473557   6.936829
6951679    3.830675 -0.306454   9.500074
5293886   -5.206192  1.497573   8.566454
3763564   -3.198653 -0.153229   4.510676
8320059   -2.145178 -0.612908   9.806528
3986038    2.355895 -2.184709   8.189367
12890480  -5.056491 -0.459681   9.500074
...             ...       ...        ...
6035606    3.872910 -0.598083   9.032547
9687099   -3.687071 -1.580173   8.130709
7471112    0.454529 -1.373337   9.142242
7332557    0.286713  0.100113   6.172729
10124624  -5.362945  1.838724   8.121031
12978876  -4.137129  0.612908   8.733939
7365607   -2.753021  1.458115  10.288391
10557743  -4.563126  0.799194   8.777847
2433360   -2.987964 -1.043872   8.868123
1149275   -5.669399 -0.153227   7.814577
4622258    3.819351 -0.004181   9.106338
2099802   -1.359907  1.647211   9.538500
3696967   -3.083732 -1.110910   9.011775
1804725    9.165665 -0.022034   3.249435
1094422    3.286042 -0.921768   4.186262
6921326   -2.145178 -0.766135   9.193620
926251   -10.860099  2.566584   8.207323
2842533   -4.443583 -1.685497  19.306602
9530801   -2.145205  1.819593   9.165004
12136504  -1.136581 -0.467163   9.733566
4441584   -3.540924  0.321487   7.750915
4060914   -5.209718  1.379043   8.121031
12084916  -2.754044  1.083649  10.860672
5312899   -3.743334 -0.679953   7.401675
11571016   5.440216  0.721390   8.709015
732970    -3.323152 -0.804452   3.438074
3462409   -6.818527  1.684692   5.547684
4576411   -2.918289 -0.345764   9.261063
1725183    0.057007  0.200089  10.727570
3568329   -0.708684 -1.149217   9.691729

[2819819 rows x 3 columns]

In [51]:
X_test["Status"] = y_test
X_test.head()

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                 x         y          z Status
2074959  -1.725723 -0.713531   5.246567   bike
5725707  -6.947235  0.870163  12.201019   walk
1855021  -2.430313 -2.883240  11.265335   walk
11949352  5.292801  0.265991   8.349380    sit
7886160  -2.705246  1.418091   9.863297   bike

In [52]:
X_test.to_csv("HA_test_phone.csv", encoding='utf-8')

In [53]:
X_train["Status"] = y_train
X_train.head()

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                 x         y          z    Status
5321884  -7.278373 -0.329203   7.928399  stairsup
11975984  5.290420  0.227905   8.185135       sit
10744114 -2.833786 -1.626404  10.634537      bike
75342     0.348602 -0.503311  10.202698       sit
10445087 -0.364319 -2.725388   8.994659      bike

In [54]:
X_train.to_csv("HA_train_phone.csv", encoding='utf-8')

In [55]:
X_train_scaled

array([[-1.43936922, -0.31197585, -0.43094452],
       [ 1.74384069,  0.04815117, -0.31837987],
       [-0.31371991, -1.15051549,  0.75554854],
       ...,
       [-0.01771573, -0.92663102,  0.29581513],
       [-0.38035694, -0.76079876, -0.34749131],
       [-0.7517401 ,  1.74430934,  3.11483369]])

In [56]:
parameters = len(X_train_scaled[0,:])
print (parameters)

3

In [57]:
#X_train_scaled = X_train_scaled[:,1:parameters+1]
#X_train_scaled

In [58]:
X_train_scaled = np.reshape(X_train_scaled, (X_train_scaled.shape[0],1,X_train_scaled.shape[1]))
X_train_scaled = np.array(X_train_scaled)
X_train_scaled

array([[[-1.43936922, -0.31197585, -0.43094452]],

       [[ 1.74384069,  0.04815117, -0.31837987]],

       [[-0.31371991, -1.15051549,  0.75554854]],

       ...,

       [[-0.01771573, -0.92663102,  0.29581513]],

       [[-0.38035694, -0.76079876, -0.34749131]],

       [[-0.7517401 ,  1.74430934,  3.11483369]]])

In [66]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

s = 12

# Create model and add layers
model = Sequential()
model.add(LSTM(s, input_shape=(None, parameters), return_sequences= False))
model.add(Dense(6, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_2 (LSTM)                (None, 12)                768
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 78
=================================================================
Total params: 846
Trainable params: 846
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
model.fit(X_train_scaled, y_train_categorical, epochs=6, batch_size=40)

Epoch 1/6
8459456/8459456 [==============================] - 448s 53us/step - loss: 0.2954 - accuracy: 0.8732
Epoch 2/6
8459456/8459456 [==============================] - 388s 46us/step - loss: 0.2853 - accuracy: 0.8765
Epoch 3/6
8355400/8459456 [============================>.] - ETA: 5s - loss: 0.2810 - accuracy: 0.8784

In [61]:
X_test_scaled = np.reshape(X_test_scaled, (X_test_scaled.shape[0],1,X_test_scaled.shape[1]))
X_test_scaled = np.array(X_test_scaled)
X_test_scaled

array([[[-0.03308867, -0.56041452, -1.60678074]],

       [[-1.35550418,  0.46332083,  1.44236496]],

       [[-0.21153514, -1.96296219,  1.03211886]],

       ...,

       [[-0.33512144, -0.32268152,  0.15335553]],

       [[ 0.41841085,  0.03016979,  0.7963384 ]],

       [[ 0.22448979, -0.84205119,  0.34217895]]])

In [62]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.299293499167604, Accuracy: 0.8706896901130676

In [63]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [64]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: ['walk' 'walk' 'bike' 'sit' 'bike']
Actual Labels: ['bike', 'walk', 'walk', 'sit', 'bike']

In [65]:
# Save the model
model.save("HA_RNN1_PhoneT2.h5")