In [1]:
import pandas as pd
import numpy as np

In [2]:
filen = "Watch_accelerometer.csv"
df1 = pd.read_csv(filen)
df1.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638740,27920678471000,-0.565032,-9.572019,-0.614113,a,gear,gear_1,stand
1,1,1424696638740,27920681910000,-0.832584,-9.713276,-0.606930,a,gear,gear_1,stand
2,2,1424696638740,27920692014000,-1.018134,-9.935339,-0.544082,a,gear,gear_1,stand
3,3,1424696638741,27920701983000,-1.222838,-10.142437,-0.566229,a,gear,gear_1,stand
4,4,1424696638741,27920711906000,-1.577180,-10.480618,-0.402824,a,gear,gear_1,stand

In [3]:
filen1 = "Watch_gyroscope.csv"
df2 = pd.read_csv(filen1)
df2.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638743,27920678496000,-0.162187,-0.022104,0.059655,a,gear,gear_1,stand
1,1,1424696638743,27920681926000,-0.183225,-0.061785,0.012517,a,gear,gear_1,stand
2,2,1424696638743,27920692031000,-0.180829,-0.108657,-0.036485,a,gear,gear_1,stand
3,3,1424696638743,27920701997000,-0.147805,-0.157925,-0.098537,a,gear,gear_1,stand
4,7,1424696638744,27920743068000,0.182160,-0.323574,-0.277235,a,gear,gear_1,stand

In [4]:
df1.append(df2)
df1.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638740,27920678471000,-0.565032,-9.572019,-0.614113,a,gear,gear_1,stand
1,1,1424696638740,27920681910000,-0.832584,-9.713276,-0.606930,a,gear,gear_1,stand
2,2,1424696638740,27920692014000,-1.018134,-9.935339,-0.544082,a,gear,gear_1,stand
3,3,1424696638741,27920701983000,-1.222838,-10.142437,-0.566229,a,gear,gear_1,stand
4,4,1424696638741,27920711906000,-1.577180,-10.480618,-0.402824,a,gear,gear_1,stand

In [5]:
df1.count()

Index            3540962
Arrival_Time     3540962
Creation_Time    3540962
x                3540962
y                3540962
z                3540962
User             3540962
Model            3540962
Device           3540962
gt               3020605
dtype: int64

In [6]:
df1['gt'].unique()

array(['stand', nan, 'sit', 'walk', 'stairsup', 'stairsdown', 'bike'],
      dtype=object)

In [7]:
to_stay = ['stand','sit', 'walk', 'stairsup', 'stairsdown', 'bike']
df = df1[df1['gt'].isin(to_stay)]
df.dropna()
df.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638740,27920678471000,-0.565032,-9.572019,-0.614113,a,gear,gear_1,stand
1,1,1424696638740,27920681910000,-0.832584,-9.713276,-0.606930,a,gear,gear_1,stand
2,2,1424696638740,27920692014000,-1.018134,-9.935339,-0.544082,a,gear,gear_1,stand
3,3,1424696638741,27920701983000,-1.222838,-10.142437,-0.566229,a,gear,gear_1,stand
4,4,1424696638741,27920711906000,-1.577180,-10.480618,-0.402824,a,gear,gear_1,stand

In [8]:
df.count()

Index            3020605
Arrival_Time     3020605
Creation_Time    3020605
x                3020605
y                3020605
z                3020605
User             3020605
Model            3020605
Device           3020605
gt               3020605
dtype: int64

In [9]:
df['gt'].unique()

array(['stand', 'sit', 'walk', 'stairsup', 'stairsdown', 'bike'],
      dtype=object)

In [10]:
y = df["gt"]
y

0          stand
1          stand
2          stand
3          stand
4          stand
5          stand
6          stand
7          stand
8          stand
9          stand
10         stand
11         stand
12         stand
13         stand
14         stand
15         stand
16         stand
17         stand
18         stand
19         stand
20         stand
21         stand
22         stand
23         stand
24         stand
25         stand
26         stand
27         stand
28         stand
29         stand
           ...
3540932     bike
3540933     bike
3540934     bike
3540935     bike
3540936     bike
3540937     bike
3540938     bike
3540939     bike
3540940     bike
3540941     bike
3540942     bike
3540943     bike
3540944     bike
3540945     bike
3540946     bike
3540947     bike
3540948     bike
3540949     bike
3540950     bike
3540951     bike
3540952     bike
3540953     bike
3540954     bike
3540955     bike
3540956     bike
3540957     bike
3540958     bike
3540959     bike
3540960     bike
3540961     bike
Name: gt, Length: 3020605, dtype: object

In [11]:
X = df.iloc[:,3:6]
X.head()

          x          y         z
0 -0.565032  -9.572019 -0.614113
1 -0.832584  -9.713276 -0.606930
2 -1.018134  -9.935339 -0.544082
3 -1.222838 -10.142437 -0.566229
4 -1.577180 -10.480618 -0.402824

In [12]:
print(X.shape, y.shape)

(3020605, 3) (3020605,)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

Using TensorFlow backend.

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [15]:
#Saving the X_scaler
from sklearn.externals.joblib import dump, load
dump(X_scaler, 'HAW_scaler.bin', compress=True)

['HAW_scaler.bin']

In [16]:
#Saving label encoder
dump(label_encoder, 'HAW_label_encoder.bin', compress=True)

['HAW_label_encoder.bin']

In [54]:
#Saving Standard Scaler
from sklearn.externals.joblib import dump, load

dump(X_scaler, 'X_scaler_HAWatch.bin', compress=True)

#To upload it later do -- X_scaler = load('X_scaler_HAWatch.bin')

['X_scaler_HAWatch.bin']

In [35]:
X_test_scaled

array([[ 1.91548888,  0.05585264, -0.5203598 ],
       [ 0.24249583, -1.14151068,  1.19869254],
       [-1.61813354, -0.5084453 , -0.37214059],
       ...,
       [ 0.17984227, -0.58887243,  1.74197237],
       [-0.30380545,  0.09023639, -0.39829691],
       [-1.11378812, -0.15297805, -0.41355477]])

In [36]:
X_test

                 x          y         z
1205593  15.104721  -2.221954  0.375290
2713932   1.436630  -7.858673  6.007248
708208  -13.764420  -4.878449  0.860886
1938608  -5.383392  -8.617569  1.695801
310968   -7.185074  -4.952240  2.312912
2808918  -5.804459  -3.809662  1.658310
1868696   2.245956  -5.633026  1.310776
3499298   7.008820  -6.187210 -8.287476
1714936   4.726303  -3.745392  2.191513
2100982   2.138840   8.368317  4.114853
55194    -9.639236  -0.996063  2.465256
2726053   1.400925  -7.549225  6.311935
1657409   1.612778  -7.370697  6.383347
3499256   4.123810  -2.890396 -6.047546
482096   -7.887543   2.434494  4.430847
1797338   8.118332  -2.490936  1.982040
3208416  -3.926605  11.553696  1.260193
108445   -8.111038  -5.402130  2.339096
2709005   1.636581  -8.134796  5.657333
90393    -9.398819  -3.438324  0.375290
117926   -8.063431  -5.440216  2.374802
3435065   2.076950  -5.585419  7.375961
3357220  12.828732  -4.723760  1.975216
46513    -9.670181  -0.065338  2.520004
2444941   4.726303   3.240997  5.812057
1420043   3.469467  -4.200043  6.028671
1238767  -1.360306  -8.468048  4.881332
822826   -5.704483  -3.288361 -1.507584
1901880   9.291855 -11.522064  6.211960
1502965  -9.290700  -3.022680  1.041478
...            ...        ...       ...
1396263   5.416611  -7.389740  6.190536
1597103   8.951462  -3.257416  1.834457
227747   -9.834427  -3.376434 -0.764908
1011593  10.016742   1.196502  2.045845
1053236   8.537277  -4.540436  1.822555
3438880   6.064072  -4.102448  6.131027
1120047   2.538742  -9.729645 -0.038895
286050   -9.301224  -3.474029 -1.324295
255668   -9.589249  -4.114349  0.851364
3255281  -6.159393   4.046005 -5.245361
3259127  -7.409088   5.886032 -1.243958
2484542  -6.990143   5.326645  2.481323
615612    3.859848  -6.578033  6.219101
982133   -7.523087  -2.847992  6.830856
1060240   8.751511  -3.388336  1.286972
1311918   7.504196  -3.316925 -0.029373
1909894   2.579208 -16.777924  5.854904
2697934   1.724655  -7.613495  6.147690
2061029   8.899094   3.169586  1.463119
1277266   7.418503  -1.305511  4.914658
1069772   7.109055  -5.680633  3.000839
231816  -12.055313  -4.061981 -0.015091
1579900   9.034775  -3.202667  1.751144
3343341   7.153875  -1.869871 -0.130484
730755   -6.525711  -2.728973  0.027756
1945436   9.427768  -2.100912 -0.588974
1355378  10.781967  -2.745636  3.424545
3148602   0.924760  -5.257068  7.787141
831503   -3.026566  -2.060089  0.775192
2797546  -9.643997  -3.205048  0.725204

[755152 rows x 3 columns]

In [37]:
X_test["Status"] = y_test
X_test.head()

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                 x         y         z    Status
1205593  15.104721 -2.221954  0.375290      walk
2713932   1.436630 -7.858673  6.007248       sit
708208  -13.764420 -4.878449  0.860886      walk
1938608  -5.383392 -8.617569  1.695801      bike
310968   -7.185074 -4.952240  2.312912  stairsup

In [38]:
X_test.to_csv("HA_test_watch.csv", encoding='utf-8')

In [39]:
X_train["Status"] = y_train
X_train.head()

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                 x         y         z      Status
823004  -10.303360 -2.740875 -1.355240  stairsdown
2455870   8.651535  2.629242  6.821335        bike
2694494   1.848434 -7.787262  5.938217         sit
1203049   6.687729 -2.412384  0.201523        walk
1141085   2.310226 -9.374970 -3.642777         sit

In [40]:
X_train.to_csv("HA_train_watch.csv", encoding='utf-8')

In [41]:
X_train_scaled

array([[-1.19449505, -0.0543776 , -1.04857242],
       [ 1.12561007,  1.08635368,  1.44717773],
       [ 0.29290123, -1.12634141,  1.17762209],
       ...,
       [ 1.17656649, -0.30204884, -0.28295474],
       [ 1.26780362, -0.55111037, -0.22640061],
       [-0.49406398, -1.51467547, -2.0439662 ]])

In [42]:
parameters = len(X_train_scaled[0,:])
print (parameters)

3

In [43]:
#X_train_scaled = X_train_scaled[:,1:parameters+1]
#X_train_scaled

In [44]:
X_train_scaled = np.reshape(X_train_scaled, (X_train_scaled.shape[0],1,X_train_scaled.shape[1]))
X_train_scaled = np.array(X_train_scaled)
X_train_scaled

array([[[-1.19449505, -0.0543776 , -1.04857242]],

       [[ 1.12561007,  1.08635368,  1.44717773]],

       [[ 0.29290123, -1.12634141,  1.17762209]],

       ...,

       [[ 1.17656649, -0.30204884, -0.28295474]],

       [[ 1.26780362, -0.55111037, -0.22640061]],

       [[-0.49406398, -1.51467547, -2.0439662 ]]])

In [47]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

s = 12

# Create model and add layers
model = Sequential()
model.add(LSTM(s, input_shape=(None, parameters), return_sequences= False))
model.add(Dense(6, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_2 (LSTM)                (None, 12)                768
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 78
=================================================================
Total params: 846
Trainable params: 846
Non-trainable params: 0
_________________________________________________________________
None

In [48]:
model.fit(X_train_scaled, y_train_categorical, epochs=4, batch_size=40)

Epoch 1/4
2265453/2265453 [==============================] - 103s 45us/step - loss: 0.3181 - accuracy: 0.8685
Epoch 2/4
2265453/2265453 [==============================] - 96s 42us/step - loss: 0.2955 - accuracy: 0.8791
Epoch 3/4
2265453/2265453 [==============================] - 110s 49us/step - loss: 0.2914 - accuracy: 0.8806
Epoch 4/4
2265453/2265453 [==============================] - 115s 51us/step - loss: 0.2895 - accuracy: 0.8811

In [49]:
X_test_scaled = np.reshape(X_test_scaled, (X_test_scaled.shape[0],1,X_test_scaled.shape[1]))
X_test_scaled = np.array(X_test_scaled)
X_test_scaled

array([[[ 1.91548888,  0.05585264, -0.5203598 ]],

       [[ 0.24249583, -1.14151068,  1.19869254]],

       [[-1.61813354, -0.5084453 , -0.37214059]],

       ...,

       [[ 0.17984227, -0.58887243,  1.74197237]],

       [[-0.30380545,  0.09023639, -0.39829691]],

       [[-1.11378812, -0.15297805, -0.41355477]]])

In [50]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.28786610973677695, Accuracy: 0.8813855648040771

In [51]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [52]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: ['walk' 'sit' 'walk' 'bike' 'sit']
Actual Labels: ['walk', 'sit', 'walk', 'bike', 'stairsup']

In [53]:
# Save the model
model.save("HA_RNN1_WatchT1.h5")