In [6]:
#Import Dependencies
import csv, sqlite3
import pandas as pd

In [7]:
#DATABASE name
database = '../data/project3db.sqlite'

In [8]:
db = sqlite3.connect(database)
cursor = db.cursor()
res = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print (name[0])
db.close()

Alc_test1
sqlite_sequence
HA_test_phone1
HA_test_watch1

In [9]:
#connect to the database
db = sqlite3.connect(database)

query = "SELECT * FROM Alc_test1;"
df = pd.read_sql_query(query,db)
db.close()
df.head()

,rec_id,FP1,FP2,F7,F8,AF1,AF2,FZ,F4,F3,...,PO8,FCZ,POZ,OZ,P2,P1,CPZ,nd,Y,Status
0,1,-42.582,-3.662,5.910,5.697,8.382,7.619,6.877,6.409,9.013,...,3.174,3.611,0.397,1.007,1.587,-2.299,-1.780,3.560,8.759,alcoholic
1,2,11.587,5.473,15.188,11.983,13.550,6.907,5.229,0.122,5.615,...,4.700,3.347,6.460,5.585,4.506,0.254,-0.214,17.385,18.473,control
2,3,-5.554,-8.077,-1.465,-2.136,-7.853,-6.989,-5.717,1.088,-5.656,...,-8.321,-1.221,-14.781,-14.191,-11.597,-7.935,-3.001,-8.006,-4.262,alcoholic
3,4,-3.296,-0.214,-0.326,5.910,-6.500,-2.736,-7.355,-6.480,-6.317,...,18.545,-5.086,8.565,10.010,8.097,8.596,6.053,8.474,8.341,alcoholic
4,5,-4.547,-3.174,-1.261,-6.042,-5.778,-4.639,-9.084,-3.082,-6.856,...,-11.902,-6.999,8.667,2.665,11.709,9.511,6.958,3.855,4.659,alcoholic

In [10]:
y1 = df["Status"]
y2 = []
for s in y1:
    if 'alcoholic' in s:
        y2.append(1)
    else:
        y2.append(0)

y4 = pd.DataFrame({"label":y2})
y_test = y4["label"]

In [11]:
X_test = df.iloc[:,1:65]
X_test.head()

,FP1,FP2,F7,F8,AF1,AF2,FZ,F4,F3,FC6,...,PO7,PO8,FCZ,POZ,OZ,P2,P1,CPZ,nd,Y
0,-42.582,-3.662,5.910,5.697,8.382,7.619,6.877,6.409,9.013,5.056,...,-2.472,3.174,3.611,0.397,1.007,1.587,-2.299,-1.780,3.560,8.759
1,11.587,5.473,15.188,11.983,13.550,6.907,5.229,0.122,5.615,2.543,...,4.415,4.700,3.347,6.460,5.585,4.506,0.254,-0.214,17.385,18.473
2,-5.554,-8.077,-1.465,-2.136,-7.853,-6.989,-5.717,1.088,-5.656,-1.027,...,-1.017,-8.321,-1.221,-14.781,-14.191,-11.597,-7.935,-3.001,-8.006,-4.262
3,-3.296,-0.214,-0.326,5.910,-6.500,-2.736,-7.355,-6.480,-6.317,-0.783,...,12.349,18.545,-5.086,8.565,10.010,8.097,8.596,6.053,8.474,8.341
4,-4.547,-3.174,-1.261,-6.042,-5.778,-4.639,-9.084,-3.082,-6.856,-1.170,...,0.661,-11.902,-6.999,8.667,2.665,11.709,9.511,6.958,3.855,4.659

In [12]:
#Load the Scaled function for LR model
from sklearn.externals.joblib import dump, load
X_scaler = load('Alc_Brain_LR_scaler.bin')

In [13]:
#Scales X_test data
X_test_scaled = X_scaler.transform(X_test)

In [14]:
#Load the Lineal regression model, and print the accuracy score
import pickle
filename = "Alc_Brain_LR.sav"
model = pickle.load(open(filename, 'rb'))
result = model.score(X_test_scaled, y_test)
print(result)

0.657

In [15]:
import random

n = random.randint(0, 1000)
print (n)

883

In [17]:
len(X_test_scaled)

1000

In [18]:
e = X_test_scaled[n-1:n]
e

array([[-5.38469243e-01, -9.51678734e-02, -5.46102889e-01,
        -6.12230719e-02, -2.58409694e-01, -1.51145216e-01,
         1.12958668e-01,  6.30739887e-01,  2.24431693e-01,
         4.68189714e-01,  3.44130437e-01,  5.15813339e-01,
         3.35047364e-01,  2.61203931e-01, -1.36062136e-01,
        -2.01812301e-01,  6.03118657e-01,  7.13777161e-01,
        -3.34430780e-02, -1.91378703e-01,  1.17515998e-01,
         2.34876536e-01,  2.54677167e-02, -1.94723166e-01,
        -5.05814758e-03, -1.72523322e-01, -2.56841504e-01,
        -7.59957965e-01, -7.40869947e-02, -5.54371785e-01,
        -3.28752572e-01, -3.65771864e-01, -8.66069017e-01,
        -1.21778740e+00, -7.03675196e-02,  9.00189893e-02,
        -5.88719063e-01,  3.93900376e-01, -2.47573144e-01,
         8.91256726e-01,  4.38732651e-01,  4.97194066e-01,
        -2.62012272e-01,  2.57788398e-01,  1.13133086e-03,
        -1.67125360e+00,  1.94532031e-01, -1.51835119e-01,
         3.00801286e-01,  1.34185875e-01, -1.55151254e-01,
        -4.79272164e-02,  4.87479735e-01,  2.85045268e-01,
        -2.18217434e-01, -6.57195592e-01,  2.32788537e-01,
        -1.35774970e-01, -2.27835788e-01, -1.02167508e-01,
         7.64793446e-02, -2.10679786e-03, -8.17614269e-01,
        -7.51893859e-01]])

In [25]:
#Prediction of LR model


predictions = model.predict(X_test_scaled[n-1:n])
list(predictions)

if list(predictions) == 1:
    plr = "alcoholic"
else:
    plr = "control"
    
print(plr)

control

In [ ]:
r = pd.DataFrame({"Prediction": predictions, "Actual": y_test[n-1:n]})
r.head()

In [11]:
db.close()